- content_for :head do
  - meta_tags "player-id" => current_player.id, "game-id" => @game_presenter.id

%header
  = link_to games_path do
    = icon("chevron-left")
    = t(".back")
  %span.playing-with= t(".opponent", opponent: @game_presenter.opponent)
  %span.turn= whose_turn(@game_presenter.current_player)

%main
  = board @game_presenter.board

= palette @game_presenter
= render "result", game: @game_presenter
