- content_for :head do
  - meta_tags "player-id" => current_player.id, "game-id" => @game_presenter.id

%header
  = link_to games_path do
    = icon("chevron-left")
    = t(".back")
  %ul.scores
    %li{"data-player-id": @game_presenter.player.id}
      %span.name= t(".you")
      %b.score= @game_presenter.player.score
    %li{"data-player-id": @game_presenter.opponent.id}
      %span.name= @game_presenter.opponent
      %b.score= @game_presenter.opponent.score
  %span.turn= whose_turn(@game_presenter.current_player)

%main
  = board @game_presenter.board

= palette @game_presenter
= render "result", game: @game_presenter
